---
title: Apache Aurora | Blog
breadcrumb: Blog
---
<div class="row-fluid">
	<div class="col-md-3">
		<h4>Apache Aurora Blog</h4>
		<p>The Aurora blog is a place for release announcements and for project committers to highlight features of the software.</p>
	</div>
	<div class="col-md-9">
		<% blog.articles.each do |post| %>
		  <article>
		  	<h2><%= link_to(post.title, post.url)%></h2>
			<p><em>Posted by <%= post.data.post_author.display_name %>, <%= post.date.strftime("%B %e, %Y") %></em></p>
		  </article>
		<% end %>
	</div>
</div>